@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  font-family: "Spline Sans", sans-serif;
}

::selection {
  background: rgba(244, 192, 37, 0.3);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  line-height: 1;
}

.fill-1 {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.safe-area-inset-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.25rem);
}

.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.25rem);
}
